CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

build*/
.vscode/*
html_output_dir/*
coverity_scan.sh
build.sh
.vscode-ctags
